<%- include('includes/head') %> <%- include('includes/navbar') %>


<div class="container col-lg-8 my-5 form-start">
    <div class="card ">
        <div class="card-header">
            <h1 class="text-center">Olá <%= user.email %></h1>
        
            <p class="text-center lead"> Seja bem vindo</p>
            <%- include('includes/mensagers') %><br>
       
       
        </div>
        </div>
      </div>

<%- include('includes/footer') %>
